<div class='landing-card-container'>
  <div class='card'>
    <h1>About Me</h1>
    <hr>
    <p>Thanks for visiting my page. </p>
    <p class="github-link">First thing&apos;s first&hellip;<a href="https://github.com/andyknolla"><%= fa_icon 'github 2x' %></span> Check out my code on Github if interested.</a></p>
    <p>Professional stuff first, of course.  I enjoy building things with code more than I ever liked fixing helicopters, welding or building high-speed compressors. I've been programming for a couple years now </p><br>
    <p>If I’m not coding I’m usually either running trails, climbing rocks, or enjoying nature in some way.  I also like identifying birds and stars</p>
    <div class="landing-image">
      <%= image_tag "climbing_photo.jpg", alt: "Scenic mountain image", class: 'landing-image' %>
    </div>
  </div>
</div>
