<div class='landing-card-container'>
  <div class='card'>
    <div class="landing-profile" id="landing-profile">
        <%= image_tag "landing-headshot.jpg", alt: "Profile photo", class: 'landing-headshot' %>
      <div class="landing-profile-text">
        <p>To see my work, check out the <%= link_to 'portfolio page', portfolios_path %>. Or go straight to my <a href="https://github.com/andyknolla"><span class="github-link">code on Github.&nbsp;<%= fa_icon 'github 2x' %></a></span></p>

        <p>I built this site as one of my first Ruby on Rails projects.

          I've been coding since 2015 but didn't discover the greatness of Ruby on Rails until 2017. Now I'm on a mission to become a Rails master in addition to a JavaScript ninja.</p>
      </div>
    </div>
    <div class="landing-image">
      <%= image_tag "yosemite_vista.jpg", alt: "Scenic mountain image", class: 'landing-image' %>
    </div>
  </div>
</div>
