<div class='landing-card-container'>
  <div class='card'>
    <div class="landing-profile" id="landing-profile">
        <%= image_tag "landing-headshot.jpg", alt: "Profile photo", class: 'landing-headshot' %>
      <div class="landing-profile-text">
        <p>To see my work, check out the <%= link_to 'portfolio page', portfolios_path %>. Or go straight to my <a href="https://github.com/andyknolla"><span class="github-link">code on Github.&nbsp;<%= fa_icon 'github 2x' %></a></span></p>
        <p>This site is a Ruby on Rails project but I know JavaScript best. I have a few years of experience with C#.NET but am intent on refocusing more on JavaScript and Ruby.</p>
      </div>
    </div>
    <div class="landing-image">
      <%= image_tag "yosemite_vista.jpg", alt: "Scenic mountain image", class: 'landing-image' %>
    </div>
  </div>
</div>
