<div class="landing-above-fold">
  <div class="landing-greeting">
    <h1 class="cover-heading">Andy Knolla</h1>
    <p class="cover-subheading">JavaScript developer</p>
    <p class="lead">
      <%= link_to "About Me", about_me_path, class: "btn-landing" %>
    </p>
  </div>
</div>
