<div class="landing-above-fold">
  <div class="landing-greeting">
    <h1 class="cover-heading">Welcome to Andy Knolla Online</h1>
    <p class="cover-subheading">Web engineer specializing in JavaScript and Ruby on Rails.</p>
    <p class="lead">
      <%= link_to "About Me", about_me_path, class: "btn-landing" %>
    </p>
  </div>
  <%= render partial: "shared/vid_buttons", locals: { style: 'home-vid-buttons' } %>
</div>
