<div class="inner cover">
  <h1 class="cover-heading">Welcome to Andy Knolla Online</h1>
  <p class="cover-subheading">Lifelong problem solver, currently a web engineer specializing in JavaScript and Ruby on Rails</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
  <div class="below-fold">
  </div>
</div>
