<div class="mastfoot app-footer">
  <div class="footer-content">
    <button id="pauseVid" class='btn btn-sm btn-outline-secondary vid-control'>Pause background
    </button>
    <button id="playVid" class='btn btn-sm btn-outline-secondary vid-control'>Play background
    </button>
    <p>&copy; 2017 &vert; Andy Knolla</p>
  </div>
</div>
