<div class="user-bar">
  <%= signin_helper %>
  <div class="user-bar-shade">
    <div class="user-bar-items">
      <span class="welcome">Welcome, <%= current_user.first_name %> <%= gravatar_helper current_user, '35', 'user-bar-gravatar' %></span>
      <%= login_helper  'login-link' %>
    </div>
  </div>
</div>
