<div class="<%= style %>">
  <button id="pauseVid" class='btn btn-sm btn-outline-secondary vid-control'>Pause background
  </button>
  <button id="playVid" class='btn btn-sm btn-outline-secondary vid-control'>Play background
  </button>
</div>
