<div class="<%= style %>">
  <button class='btn btn-sm btn-outline-secondary hidden-for-flexbox'>Pause background
  </button>
  <%= fa_icon "angle-down 4x", class: "landing-scroll" %></a>
  <button id="pauseVid" class='btn btn-sm btn-outline-secondary vid-control'>Pause background
  </button>
  <button id="playVid" class='btn btn-sm btn-outline-secondary vid-control'>Play background
  </button>
</div>
