<div class='app-card-container'>
  <div class='card'>
    <h1>About Me</h1>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "profile.jpg", width: 250, alt: "profile image", class: 'profile-image' %>
      </div>
      <div class="col-md-8 about-content">
        <p>I love building for the web because I believe it to be the most significant technology of the modern world.  Keeping up with its constant evolution appeases my learning compulsion and developing lets me exercise my creative drive in the forms of elegant code and attractive user interfaces.  My journey as a developer began in 2014.</p><br>
        <p>I am a Marine Corps veteran with a background in aviation hydraulics and industrial manufacturing and welding.  If I’m not coding I’m usually either running trails or climbing rocks.</p>
        </p>
      </div>
    </div>
  </div>
</div>
