@import "bootstrap";
@import "gritter";
@import "font-awesome";
@import "tether";

@font-face {
  font-family: 'Geomanist-light';
  src: font-url('geomanist-light-webfont.ttf');
}
@font-face {
  font-family: 'Geomanist-regular';
  src: font-url('geomanist-regular-webfont.ttf');
}
/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: hsl(0, 0%, 100%);
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: hsl(0, 0%, 20%);
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: hsl(0, 0%, 100%);
  border: .05rem solid hsl(0, 0%, 100%);
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  font-family: 'Geomanist-regular', sans-serif;
}
body {
  color: hsl(0, 0%, 100%);
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Geomanist-light', serif;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  padding-top: 10rem;
}

/* Padding for spacing */
.inner {
  padding: 2rem;
  .navbar-brand {
    margin-right: 20%;
  }
}

/*
 * Header
 */

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: bold;
  color: hsla(0, 0%, 100%, 0.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: hsla(0, 0%, 100%, 0.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: hsl(0, 0%, 100%);
  border-bottom-color: hsl(0, 0%, 100%);
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

/*
 * Cover
 */

.cover {
  padding: 0;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: bold;
}

/*
 * Footer
 */

.mastfoot {
  color: hsla(0, 0%, 100%, 0.5);
}

/*
 * Affix and center
 */

@media (min-width: 40em) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 62em) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 60rem;
  }
}

/*
 * Custom styles
 */

.cover-container {
  padding-top: 4vh;
}

.card-block {
  color: hsl(0, 0%, 0%);
  text-align: left;
}

.auth-links a {
  color: hsl(0, 0%, 0%);
}

.register-text {
  text-align: right;
}

.login > .card {
  width: 22rem;
  margin: 0 auto;
  float: none;
}

.about-content a, .contact-info a, .portfolio-item a {
  color: hsl(197, 51%, 47%);
  text-shadow: 0 0.05rem 0.1rem hsla(0, 0%, 0%, 0.5);
  transition: .2s ease;
  &:hover {
    text-shadow: 2px 2px 1px hsl(0, 0%, 67%);
    text-decoration: none;
    cursor: pointer;
  }
}

.contact-info {
  a {
    color: hsl(0, 0%, 21%);
  }
  li {
    list-style-type: none;
  }
  ul {
    padding-left: 0;
  }
}


/* Nav links */

.app-nav {
  margin-bottom: 35px;
  margin-top: 0;
  padding-top: 0.3rem;
  padding-bottom: 0;
  li {
    font-size: 1.2em;
    margin-left: 20px;
  }
}

.nav-link {
  position: relative;
  padding: 1rem;
  font-weight: 500;
  color: hsl(0, 0%, 100%);
  transition: .2s ease-in
}

.nav-link:hover,
.nav-link:focus {
  color: hsl(0, 100%, 95%);
  background-color: transparent;
  transform: scale(1.1);
}

.nav-link.active {
  color: hsl(28, 59%, 16%);
  border-bottom: 1px solid hsl(28, 59%, 16%);
  &:hover {
    transform: none;
    color: hsl(0, 100%, 95%);
  }
}

#background-img {
  position: fixed;
  top:50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: image-url('Monet_siene2_small') no-repeat;
  background-size: cover;
}

.app-footer {
  color: hsl(0, 0%, 100%);
  margin-top: 5vh;
}

.tech-news {
  color: hsl(0, 0%, 0%);
  margin: 20px;
  a {
    color: hsl(120, 100%, 25%);
  }
  .card {
    padding: 20px;
  }
}

.app-card-container {
  color: hsl(0, 0%, 0%);
  text-align: left;
  .card {
    background: none;
    border: none;
    padding: 40px;
  }
  h1 {
    padding-bottom: 20px;
  }
}

.tent {
  padding-left: 30px;
  font-weight: 600;
  text-shadow: none;
}

.card-block {
  margin-top: 10px;
}

.skill {
  margin: 10px 0;
}

.btn.btn-primary {
  background: hsl(219, 67%, 35%);
  border-color: hsl(219, 67%, 35%);
}

.cover-heading {
  font-size: 5rem;
}

.cover-subheading {
  font-size: 1.5rem;
  padding-bottom: 25px;
}

.hidden-for-flexbox {
  visibility: hidden;
}

#pauseVid {
  display: none;
}

.vid-control {
  visibility: hidden;
  height: 30px;
  &:hover {
    cursor: pointer;
  }
}

.footer-content {
  display: flex;
  padding: 1.5rem 0;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
}

a.navbar-brand {
  font-size: 1.5rem;
  margin-top: -10px;
  margin-left: 6%;
}

.contact-info, .contact-info, .about-content {
  p {
  text-shadow: none;
  font-weight: 600;
  margin-top: 1rem;
  }
  li {
    padding-top: 5px;
  }
}

.contact-info .fa {
  margin-right: 14px;
  color: hsl(0, 0%, 21%);
}

.profile-image {
  width: 100%;
}

.user-bar {
  margin-bottom: 0;
  margin-top: 0;
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  .user-bar-items {
    display: flex;
    justify-content: flex-end;
    padding: 4px 40px 3px 0;
  }
  .login-link {
    color: hsl(0, 0%, 100%);
    margin-left: 30px;
    transition: .2s ease;
    &:hover {
      transform: scale(1.2);
    }
  }
  .user-bar-gravatar {
    margin-left: 10px;
    margin-right: 25px;
  }
  .welcome {
    color: hsl(0, 0%, 100%);
  }
}

.nav-toggle {
  color: hsl(0, 0%, 93%);
  margin-top: -6px;
}

@media (min-width: 40em) {
  .app-nav {
    margin-left: 0;
  }
  .vid-control {
    visibility: visible;
  }
}

@media (min-width: 62em) {
  .app-nav ul {
    margin-left: 35%;
  }
}

.home-vid-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 6vh;
  margin-left: 30px;
  margin-right: 30px;
}

.pages-vid-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  .landing-scroll {
    visibility: hidden;
  }
}


.registration {
  padding-right: 20px;
  padding-top: 7px;
  animation:
  fade 10s ease infinite,
}
@keyframes fade {
  0%, 100% {
    color: hsla(0, 0%, 100%, 0.4);
  }
  30%,70% {
    color: hsla(0, 0%, 100%, 0);
  }
}

@media (min-width: 992px) {
  .navbar-collapse {
    justify-content: flex-end;
  }
}
