@import "bootstrap";
@import "gritter";
@import "font-awesome";

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */
 // font-family: 'Monda', sans-serif;
 // font-family: 'Athiti', sans-serif;

html,
body {
  height: 100%;
  font-family: 'Athiti', sans-serif;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', serif;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
          box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 2rem;
  .navbar-brand {
    margin-right: 20%;
  }
}


/*
 * Header
 */

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: bold;
  font-size: 1.2rem;
  color: rgba(255,255,255,.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255,255,255,.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

/*
 * Cover
 */

.cover {
  padding: 0;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 40em) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 62em) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 60rem;
  }
}

/*
 * Custom styles
 */
.card-block {
  color: black;
  text-align: left;
}

.auth-links a {
  color: black;
}
.register-text {
  text-align: right;
}

.login > .card {
  width: 22rem;
  margin: 0 auto;
  float: none;
}

.app-nav {
  // add color/style rules from nav-purple
  margin-top: 42px;
  text-align: center;
  span {
  margin-left: 15px;
  margin-right: 15px;
  }
  li {
    font-size: 1.4rem;
  }
}

#background {
  position: fixed;
  top:50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: image-url('portfolio_bg_image.png') no-repeat;
  background-size: cover;
}

.app-footer {
  color: white;
}

.tech-news {
  color: black;
  margin: 20px;
  a {
    color: green;
  }
  .card {
    padding: 20px;
  }
}

.app-card-container {
  color: black;
  text-align: left;
  .card {
    padding: 40px;
    background: rgba(255,255,255,0.9);
  }
}

.about-content {
  padding-left: 30px;
  font-size: 1.3rem;
  font-weight: 600;
  text-shadow: none;
}

.card-block {
  margin-top: 10px;
}

.skill {
  margin: 10px 0;
}

.btn.btn-primary {
  background: rgb(30,73,150);
  border-color: rgb(30,73,150);
}

.cover-heading {
  font-size: 3rem;
}

.cover-subheading {
  font-size: 1.5rem;
}

#playVid {
  display: none;
}

.vid-control {
  display: flex;
  align-self: flex-end;
}

.footer-content {
  display: flex;
  padding: 1.5rem;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
}

.navbar-brand {
  font-size: 2rem;
  margin-top: -10px;
  margin-left: 6%;
}

.contact-info p {
  text-shadow: none;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1rem;
}

.user-bar {
  margin-bottom: 0;;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: fixed;
  background: rgba(27,27,27, 0.6);
  .user-bar-items {
    display: flex;
    justify-content: flex-end;
    padding: 4px 40px 3px 0;
  }
  .login-link {
    margin-left: 15px;
    color: rgb(238,238,238);
    padding-top: 3px;
    transition: .2s ease;
    &:hover {
      transform: scale(1.2);
    }
  }
  .user-bar-gravatar {
    margin-left: 10px;
    margin-right: 25px;
  }
  .welcome {
    color: rgb(238,238,238);
  }
}

.nav-toggle {
  color: rgb(238,238,238);
  margin-top: -6px;
}

.home-cover-container {
  margin: 400px auto 0;
}

@media (min-width: 30em) {
  .cover-container {
    margin-top: 165px;
  }
  .app-footer {
    margin-top: auto;
  }
}

@media (min-width: 40em) {
  .app-nav {
    margin-left: 0;
  }
}

@media (min-width: 62em) {
  .app-nav ul {
    margin-left: 35%;
  }
}
