@import "bootstrap";
@import "font-awesome";
@import "gritter";

/*
 * Globals
 */

@media (min-width: 48em) {
  html {
    font-size: 18px;
  }
}

body {
  font-family: 'Athiti', sans-serif;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: 'Ubuntu', serif;
  color: #333;
}

/*
 * Override Bootstrap's default container.
 */

.container {
  max-width: 60rem;
}

/*
 * Masthead for nav
 */

.blog-masthead {
  margin-bottom: 3rem;
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
          box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
}

/* Nav links */
.nav-link {
  position: relative;
  padding: 1rem;
  font-weight: 500;
  color: #fff;
  transition: .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.nav-link:hover,
.nav-link:focus {
  color: white;
  background-color: transparent;
  transform: scale(1.2) rotate(2deg);
}

/* Active state gets a caret at the bottom */
.nav-link.active {
  border-bottom: none;
  color: rgb(236,173,80);
  &:hover {
    transform: none;
    color: gray;
  }
}

.nav-link.active:after {
  position: absolute;
  color: white;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -.3rem;
  vertical-align: middle;
  content: "";
  border-right: .3rem solid transparent;
  border-bottom: .3rem solid white;
  border-left: .3rem solid transparent;
}

/*
 * Blog name and description
 */

.blog-header {
  padding-bottom: 1.25rem;
  margin-bottom: 2rem;
  border-bottom: .05rem solid #eee;
}
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: normal;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}

/*
 * Main column and sidebar layout
 */

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 1rem;
  /*margin: 0 -1rem 1rem;*/
}
.sidebar-module-inset {
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: .25rem;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

/*
 * Footer
 */

.blog-footer {
  margin-top: 40px;
  padding: 1.0rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

/*
 * Custom styles
 */

 .social-links {
   font-size: 1.5em;
 }

.comment-card > .card {
  margin-top: 15px;
}

.comment-attribution {
  font-size: .8em;
  font-style: italic;
}

.comment-name {
  font-weight: 700;
}

.blogcrumb a {
  font-size: 1.25em;
  margin: 0 10px 0 10px;
  color: red;
}

.user-bar {
  background: image-url('graphic_strip.png') no-repeat;
  position: relative;
  margin-bottom: auto;
}

.user-bar-shade {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background: rgba(27,27,27, 0.75);
}

.blog-nav {
  margin-bottom: 35px;
  margin-top: 0;
  padding-top: 0.3rem;
  background: rgb(55,34,91);
  padding-bottom: 0;
  li {
    font-size: 1.07em;
    margin-left: 20px;
  }
}

.blog-sidebar-source {
  margin-top: 20px;
}

.blog-post > .blog-post-title > a, .blog-main > h2, .blog-title {
  color: rgb(55,34,91);
  transition: .3s ease;
}

.blog-post-title > a:hover {
  text-shadow: 3px 3px 3px darkgray;
  text-decoration: none;
}

.blog-post :last-child {
  text-align: left;
}

.blog-header a, .breadcrumb-item {
  color: rgb(55,34,91);
  transition: .3s ease;
  &:hover {
    text-shadow: 3px 3px 3px darkgray;
  }
}
.sidebar-module a {
  color: rgb(95,40,190);
  transition: .3s ease;
  &:hover {
    text-shadow: 3px 3px 3px darkgray;
  }
}

.sidebar-module {
  text-align: left;
  ul {
    padding-left:10px;
    li {
      list-style-type: none;
    }
  }
}

a.navbar-brand {
  color: white;
  font-size: 2rem;
}

@media (min-width: 992px) {
  .navbar-collapse {
    justify-content: flex-end;
  }
}
