.cover-container-home {
  margin: 5vh 0 200px;
  padding-top: 12vh;
  width: 100%;
}

.landing-above-fold {
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.landing-greeting {

}

.landing-card-container {
  margin-top: 18vh;
  color: black;
  font-size: 1.1rem;
  text-align: justify;
  text-shadow: none;
  .card {
    background: rgba(255,255,255,0.8);;
  }
  a {
    color: rgb(162,103,24);
    transition: .2s ease;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    &:hover {
      text-shadow: 2px 2px .7px rgb(156,155,155);
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.landing-profile {
  margin: auto;
  padding: 35px;
  max-width: 61em;
}

.landing-headshot {
  margin-bottom: 35px;
  min-width: 200px;
  width: 60%;
  float: left;
}

.landing-profile-text {
  clear: both;
}

@media(min-width: 42em) {
  .landing-headshot {
    width: 40%;
    max-width: 320px;
    margin-bottom: -130px;
    margin-right: 35px;
    position: relative;
    clear: right;
  }
  .landing-profile-text {
    padding-left: 30px;
    clear: none;
  }
  .cover-container-home {
    margin-top: 20vh;
  }
  .landing-card-container {
    margin-top: 8vh;
    .card {
      background: linear-gradient( rgba(255,255,255,0.8), rgba(255,255,255,0.8) 20%, rgba(255,255,255,0.3) 50% );
    }
  }
  .home-vid-buttons {
    margin-top: 0;
  }
  .vid-control {
    visibility: visible;
  }
}

.landing-image {
  width: 100%;
  padding-bottom: 30px;
}

.user-bar {
  margin-top: 0;
  position: relative;
}

.app-nav {
  margin-top: 0;
}

.btn-landing {
  padding: 5px 20px;
  border: 1px solid white;
  border-radius: 3px;
  background: rgba(255,255,255,.2);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  &:hover {
    text-decoration: none;
    background: rgba(255,255,255,.6);
    color: black;
    border: 1px solid rgba(255,255,255,.2);
  }
}

.landing-scroll {
  color: white;
  animation:
    glow 3s ease infinite,
    bounce 2s linear 3;
}
@keyframes glow {
  0%, 100% {
    color: rgba(255,255,255,.3);
  }
  50% {
    color: white;
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform:translateY(0);
  }
	40% {
    transform:translateY(-30px);
  }
	60% {
    transform:translateY(-15px);
  }
}
@media(min-width: 800px) {
  .vid-control {
    visibility: visible;
  }
}
