.about-me-header {
  color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: space-between;
  .resume {
    color: hsl(0, 0%, 0%);
    border: 1px solid hsl(0, 0%, 35%);
    font-size: 1.2em;
    font-weight: 700;
    letter-spacing: 2px;
    height: 20px;
    padding: 6px 17px;
    line-height: 3em;
    border-radius: 3px;
    background: image-url('resume-icon.png') no-repeat;
    background-size: cover;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    &:hover {
      text-decoration: none;
      color: hsl(0, 0%, 35%);
      border: 1px solid hsla(0, 0%, 100%, 0.2);
    }
  }
}
