.about-me-header {
  display: flex;
  justify-content: space-between;
  .resume {
    color: black;
    border: 1px solid black;
    font-size: 1.2em;
    height: 20px;
    padding: 6px 17px;
    line-height: 3em;
    border-radius: 3px;
  }
}
