@import "bootstrap";
@import "jquery-ui";
@import "gritter";

body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
  font-family: 'Geomanist-regular', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Geomanist-regular', sans-serif;
}

/* Nav links */
.user-bar {
  .welcome, .login-link {
    color: hsl(0, 0%, 27%);
  }
}

.nav-link {
  position: relative;
  padding: 1rem;
  font-weight: 500;
  color: hsl(0, 0%, 27%);
  transition: .2s ease;
}
.nav-link:hover,
.nav-link:focus {
  color: hsl(0, 0%, 70%);
  background-color: transparent;
  transform: scale(1.1);
}

/* Active state gets a caret at the bottom */
.nav-link.active {
  border-bottom: none;
  color: hsl(36, 80%, 62%);
  &:hover {
    transform: none;
    color: gray;
  }
}
.nav-link.active:after {
  position: absolute;
  color: hsl(0, 0%, 89%);
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -.3rem;
  vertical-align: middle;
  content: "";
  border-right: .3rem solid transparent;
  border-bottom: .3rem solid;
  border-left: .3rem solid transparent;
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 2.5rem;
  margin-bottom: 0;
  background-color: hsl(0, 0%, 89%);
  border-radius: 0;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
  font-size: 3rem;
  color: hsl(262, 46%, 25%);
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.card {
  float: left;
  width: 100%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
  background: hsl(262, 17%, 29%);
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 1.3rem;
  color: hsl(0, 0%, 100%);
  a {
    color: hsl(0, 0%, 100%);
  }
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

/*****************     Custom Styles     *******************/

a.navbar-brand {
  color: hsl(307, 97%, 15%);
  font-size: 2rem;
  padding: 10px 5px;
}

.portfolio-form {
  padding: 15px;
}

.portfolio-container {
  padding: 30px 30px;
}

.portfolio-subheading {
  color: hsl(307, 97%, 15%);
  padding-top: 0.7rem;
}

.masthead-links {
  padding-top: 45px;
}

.user-bar {
  position: relative;
  margin-bottom: auto;
}

.user-bar-shade {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background: hsla(0, 0%, 11%, 0.75);
}

.blog-nav {
  margin-top: 0;
  padding-top: 0.3rem;
  padding-bottom: 0;
  padding-bottom: 0;
  li {
    font-size: 1.2rem;
    margin-left: 20px;
  }
}

.btn.btn-primary, .btn.btn-secondary {
  background: hsl(307, 37%, 19%);
  border: none;
  color: hsl(75, 6%, 72%);
}
.btn.btn-secondary {
  margin-left: 15px;
}

.portfolio-item-desc {
  text-align: left;
}

.portfolio-container img {
  width: 70vw;
  max-width: 600px;
  margin-bottom: 30px;
}

.portfolio-masthead {
  background: image-url('gears.jpg') no-repeat;
  background-size: cover;
  padding-top: 7rem;
  .container {
    max-width: 31rem;
    padding: 15px;
    padding-right: 20px;
    margin-right: 2%;
    border-radius: 3px;
  }
}

@media (min-width: 992px) {
  .portfolio-masthead {
    margin-top: -73px;
  }
  .navbar-collapse {
    justify-content: flex-end;
  }
}

@media (min-width: 30em) {
  .portfolio-container img {
    width: 70vw;
  }
}

@media (min-width: 48em) {
  .portfolio-container {
    margin: auto 50px 30px;
    padding: 15px 0;
    img {
      width: 45vw;
    }
  }
  .portfolio-masthead .container {
    margin-right: 0;
    text-align: right;
  }
  .portfolio-subheading {
    margin-left: auto;
    width: 75%;
  }
}

@media (min-width: 62em) {
  .portfolio-container img {
    width: 45vw;
  }
}

.jumbotron-heading {
  color: hsl(307, 97%, 15%);
  font-size: 3.5rem;
}

a.nav-link {
  color: hsl(0, 0%, 27%);
}
a.nav-link.active {
  color: hsl(65, 98%, 23%);
}

.nav-toggle {
  color: hsl(307, 97%, 15%);
}

.portfolio-item {
  margin-bottom: 4rem;
  color: hsl(307, 97%, 15%);
  a:hover {
    color: hsl(307, 97%, 15%);
  }
}
